:root {
  --content-restriction-primary-color: #3747D6;
  --content-restriction-transition-hover: all .3s;
  --content-restriction-border-radius: 5px;
}

.toplevel_page_content-restriction {
  p {
    font-size: 16px;
  }
}
#content-restriction-admin-dashboard-app {
  overflow: hidden;
}

#wpcontent {
  padding-left: 0px !important;
}

body.active-modal {
  overflow-y: hidden;
}

.drawer-shadow {
  box-shadow:
    -6px 0 16px 0 rgba(0, 0, 0, 0.08),
    -3px 0 6px -4px rgba(0, 0, 0, 0.12),
    -9px 0 28px 8px rgba(0, 0, 0, 0.05);
}

.drawer-height {
  height: calc(100vh - 70px);
}

.mb-15 {
  margin-bottom: 15px !important;
}

.content-restriction .text-center {
  text-align: center;
}

// Content Restriction CSS
.content-restriction {
  position: relative;
  .container {
    padding-top: 0;
  }
  // Preloader CSS
  &__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  // Btn CSS
  &__btn {
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding: 0 32px;
    border-radius: var( --content-restriction-border-radius );
    color: #ffffff;
    text-decoration: unset;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease 0.3s;
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: rgba(255, 255, 255, 0.5);
      color: #ffffff;
    }
    &--create {
      background-color: var(--content-restriction-primary-color);
      &:hover,
      &:focus {
        background-color: #2b2358;
      }
      span {
        margin-left: 5px;
      }
    }
    &--back {
      color: #999;
      font-size: 16px;
      padding: 0 !important;
      &:hover,
      &:focus {
        color: #222;
        box-shadow: none;
      }
    }
    &--delete {
      font-size: 30px;
      padding: 0;
      position: relative;
      top: -9px;
      color: #1d2327;
      &:hover,
      &:focus {
        color: #000000;
      }
    }
    &--sm {
      padding: 0 15px;
    }
  }

  // Header CSS
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 30px;
    min-height: 70px;
    position: relative;
    z-index: 2;
    padding-left: 40px;
    border-bottom: 1px solid rgb(215, 213, 210);
    &__title {
      font-size: 20px;
      font-weight: 700;
      color: #1d2327;
    }
    &__action {
      position: relative;
      display: flex;
      gap: 20px;
      flex: 1;
      align-items: center;
      &--left {
        gap: 5px;
        .content-restriction__btn {
          .hover-icon {
            display: none;
          }
          &:hover {
            .hover-icon {
              display: flex;
            }
            .default-icon {
              display: none;
            }
          }
        }
        span {
          color: #515962;
          font-size: 20px;
          font-weight: 700;
          padding: 0 8px;
          line-height: normal;
        }
        img {
          max-width: 45px;
          border-radius: var( --content-restriction-border-radius );
        }
      }
      &--right {
        justify-content: flex-end;
        .upgrade-to-pro {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #F17C10 !important;
        }
      }
      &__input {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-left: 15px;
        input {
          width: 180px;
          height: 38px;
          padding: 0 10px;
          border-radius: var( --content-restriction-border-radius );
          border: 1px solid rgba(0, 0, 0, 0.15);
          font-size: 14px;
          font-weight: 400;
          color: #1d2327;
          background-color: rgba(0, 0, 0, 0.15);
          &:focus {
            border: none;
            box-shadow: none;
          }
        }
      }
      &__edit {
        svg {
          fill: #1d2327;
        }
      }

      .content-restriction__menu__single__name {
        &__highlight {
          color: #0149F8;
        }
          display: flex;
          flex-flow: column;
      }

      .content-restriction__btn--warning {
        position: absolute;
        right: 0;
        bottom: -20px;
        color: #1d2327;
        font-size: 12px;
      }

      .ant-switch {
        height: 38px;
        width: 75px;
        background-color: #00000080;
        .ant-switch-handle {
          top: 50%;
          transform: translateY(-50%);
          inset-inline-start: 9px;
          width: 25px;
          height: 25px;
          &:before {
            border-radius: 100%;
          }
        }
        .ant-switch-inner {
          span {
            position: relative;
            top: 8px;
          }
        }
        &:hover {
          background-color: var(--content-restriction-primary-color);
        }
        &.ant-switch-checked {
          background: rgb(8, 111, 61) !important;
          .ant-switch-handle {
            inset-inline-start: calc(100% - 29px);
          }
        }
      }

      .content-restriction__single__btn__dropdown {
        top: 100%;
        inset-inline-start: unset;
        inset-inline-end: 0;
      }
    }
  }
}

// Upgrade to PRO
#toplevel_page_content-restriction .wp-submenu li:nth-child(6) a {
  font-weight: 600;
  background-color: var(--content-restriction-primary-color);
  color: #fff;
  margin: 3px 10px 0;
  display: block;
  text-align: center;
  border-radius: var( --content-restriction-border-radius );
  transition: all .3s;
}

#toplevel_page_content-restriction .wp-submenu li:nth-child(6) a:hover {
  background-color: #c60055;
  box-shadow: none;
}

