.content-restriction__dashboard {
	clear: both;
    padding-block-start: 10px;
	&__header {
		margin: 30px auto 60px;
		max-width: 770px;
		text-align: center;
		padding-top: 40px;
	}
	&__list {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
		padding: 60px;
		padding-top: 0;
		&__item {
			border: 1px solid #e6e8ea;
			border-radius: var( --content-restriction-border-radius );
			display: flex;
			padding: 20px 24px;
			flex-direction: column;
			align-items: flex-start;
			transition: all .3s;
			background-color: #fff;
			&__header {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				width: 100%;
				img{
					border-radius: var( --content-restriction-border-radius );;
					width: 70px;
					display: flex;
					margin-block-end: 20px;
				}
				.badge {
					background: #ecfdf5;
					color: #047857;
					border-radius: 100px;
					padding: 3px 8px;
				}
			}
			&__title{
				margin: 0;
				line-height: 1.6;
			}
			&__desc{
				flex-grow: 1;
			}
			&__actions {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				margin-block-start: 20px;
				.learn-more {
					text-decoration: none;
				}
				.action {
					text-decoration: none;
					cursor: pointer;
					font-size: 12px;
					font-weight: 500;
					line-height: 1.2;
					padding: 8px 16px;
					outline: none;
					border: none;
					border-radius: var(--content-restriction-border-radius);
					background-color: var(--content-restriction-primary-color);
					transition: var(--content-restriction-transition-hover);
					color: #fff;
				}
			}
		}
	}
}