.ant-drawer-content-wrapper {
  margin-top: 102px;
}


.ant-btn-primary {
  background-color: var(--content-restriction-primary-color);
  &:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--content-restriction-primary-color);
    opacity: .6;
  }
}

input:checked + .slider {
  background-color: #4bb543;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(20px);
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

// Ant Input Style
.ant-input {
  height: 55px;
  width: 100% !important;
  padding: 10px 20px !important;
  font-size: 14px;
  color: #000000;
  border-radius: var( --content-restriction-border-radius );
  background-color: transparent;
  border: 1px solid #95928e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  transition: all ease 0.3s;
  &:hover,
  &:focus {
    border-color: var(--content-restriction-primary-color);
  }
  &::placeholder {
    color: #95928e;
  }
}

// Select2 Style
.ant-select {
  height: 44px;
  width: 100% !important;
  font-size: 16px;
  color: #000000;
  border-radius: var( --content-restriction-border-radius );
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #95928e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  transition: all ease 0.3s;
  &:hover {
    border-color: var(--content-restriction-primary-color);
  }
  .ant-select-selector {
    padding: 6px 20px !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    overflow-y: auto;
  }
  .ant-select-selection-placeholder {
    font-size: 12px;
    padding: 0 !important;
  }
  .ant-select-selection-search {
    margin: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }
  .ant-select-selection-search-input {
    box-shadow: none !important;
  }
  .ant-select-selection-item {
    font-size: 12px;
    margin-inline-end: 10px;
  }
  .ant-select-arrow,
  .ant-select-clear {
    color: #000;
    inset-inline-end: 18px;
  }
}

// Switch
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ant-switch {
  background-color: rgba(0, 0, 0, 0.5);
  &.ant-switch-checked {
    background: rgb(8, 111, 61) !important;
  }
}

// Slider
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition:
    background-color 0.4s,
    box-shadow 0.4s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}
.ant-slider {
  margin: 0;
}
.ant-slider {
  .ant-slider-track {
    background-color: var(--content-restriction-primary-color);
  }
  &:hover {
    .ant-slider-track {
      background-color: #2b2358;
    }
    .ant-slider-handle {
      &:after {
        box-shadow: 0 0 0 2px #2b2358;
      }
    }
  }
  .ant-slider-handle {
    &:after {
      box-shadow: 0 0 0 2px var(--content-restriction-primary-color);
    }
    &:focus,
    &:hover,
    &:active {
      &::after {
        box-shadow: 0 0 0 4px #2b2358;
      }
    }
  }
}

// Dropdown
.ant-select-dropdown {
  padding: 10px;
  .ant-select-item {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: var( --content-restriction-border-radius );
    transition: all ease 0.3s;
    .ant-select-item-option-state {
      display: none;
    }
    &:hover,
    &.ant-select-item-option-selected {
      background-color: #f9f9f9;
    }
  }
}
.ant-dropdown-menu {
  width: 200px;
  padding: 10px !important;
  .ant-dropdown-menu-item {
    margin-bottom: 5px !important;
  }
}

// Notification
.ant-notification {
  z-index: 99999;
  left: 12% !important;
}
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
  max-width: 350px;
}
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 0px;
}


.ant-menu {
  justify-content: flex-end;
}

.ant-menu-item-selected, 
.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, 
.ant-menu-submenu-selected, 
.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected {
  color: var(--content-restriction-primary-color);
}
.ant-menu-item-selected::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-item-selected::after, 
.ant-menu-submenu-selected::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected::after {
  border-bottom-color: var(--content-restriction-primary-color);
}
.ant-menu-item:hover::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-item:hover::after, 
.ant-menu-submenu:hover::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-submenu:hover::after, 
.ant-menu-item-active::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-item-active::after, 
.ant-menu-submenu-active::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-submenu-active::after, 
.ant-menu-item-open::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-item-open::after, 
.ant-menu-submenu-open::after, 
.ant-menu.ant-menu-horizontal >.ant-menu-submenu-open::after {
  border-bottom-color: var(--content-restriction-primary-color);
}